* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: moccasin;
  width: 100vw;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid black;
  min-height: 200px;
  padding: 20px 50px;
  width: 80vw;
}
.title {
  margin-bottom: 50px;
}
.button {
  padding: 3px 5px;
  border: 1px solid black;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  background-color: burlywood;
}
.button:active {
  color: aqua;
  background-color: rgb(95, 64, 27);
}
.quote {
  max-width: 70ch;
  text-align: center;
  letter-spacing: 1.2;
  font-size: 1.5rem;
}
.author {
  font-style: italic;
}